<div
  class="list-group-item mb-3"
  [ngClass]="{
'list-group-item-danger': car.isSold
}"
>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{car.name}}</h5>
    <small>{{car.date}}</small>
  </div>
  <p class="mb-1">{{car.model}}</p>
  <hr>

  <div class="row justify-content-lg-center">
    <div class="col-lg-12">
      <button type="button" class="btn btn-danger btn-sm mr-1">Delete</button>
      <button type="button" class="btn btn-success btn-sm" [disabled]="car.isSold">Buy</button>
    </div>
  </div>

</div>
